namespace {{ name }}Pattern
{
    public class Concrete{{ name }}Strategy : I{{ name }}Strategy
    {
        public void Execute()
        {
            // Implementation of the strategy
            System.Console.WriteLine("Executing Concrete{{ name }}Strategy");
        }
    }
}
